/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

body {
  font-family: 'Open Sans', sans-serif;
}


.btn {
  border-radius: 4px;
  background-color: #f0a021;
  border: 0;
  //border-bottom: 4px solid #e39821;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  width: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #e39821;
  color: #E3E3E3;
}

.navbar-brand {
  padding: 5px 5px;
}