<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<btn-block>
<%= link_to 'Edit Organization', edit_organization_path(@organization), class:"btn btn-default btn-lg" %>
<%= link_to "View Accounts", accounts_path, class:"btn btn-default btn-lg" %>
</btn-block>
