<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit Organization', edit_organization_path(@organization) %> |

</br>

<%= link_to "View Accounts", accounts_path, class:"btn btn-default btn-lg" %>
